BGP Protocol Requirements

Client/Server Requirements:
    Stateful: Both client and server must implement, check and validate the statefulness of the BGP protocol DFA.
        Client: <file(s) or location(s) in code>
        Server: <file(s) or location(s) in code>

Server-specific Requirements:

    Concurrent: Server must be able to handle multiple clients.
        Server: threadedserver.py

    Service: The server must bind to a hardcoded port number and the client defaults to that port number.
        Server: <file(s) or location(s) in code>

    Game Type Validation: The server must handle incoming NEWGAMETYPE messages and validate the game type contained in the message.
        Server: <file(s) or location(s) in code>

    Forward MOVE: The server must handle incoming MOVE message and forward them to the associated client.
        Server: <file(s) or location(s) in code>

    Sender/Receiver Message Authentication: The server must authenticate the Client ID in messages after the "Client ID Assigned" state has been reached.
        Server: <file(s) or location(s) in code>

    Client ID Generation: The server must generate random 32-bit Client IDs.
        Server: <file(s) or location(s) in code>

    Game End Two Way Handshake: The server must be able to handle/start two way game end handshake.
        Server: <file(s) or location(s) in code>

    Find Opponent: The server must be able to detect two clients who are both waiting in the "Finding Opponent" state.
        Server: <file(s) or location(s) in code>

Client-specific Requirements:

    IP and hostname: Client must be able to specify the hostname and/or the IP address of the server.
        Client: <file(s) or location(s) in code>

    UI: The client shall implement a command line interface
        Client: <file(s) or location(s) in code>
